:root {
  background-color: lightblue;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.background-ux-window {
  background-color: #ffffff;
  height: 800px;
  width: 900px;
  margin: auto;
  border-radius: 10px;
}

.background-ux-window-bar {
  height: 30px;
  border-bottom: solid 1px #cecece;
  margin-bottom: 10px;
  background-color: #eaeaea;
}

.mock-window-circle-container {
  display: flex;
  flex-direction: row;
}

.mock-window-circles {
  height: 15px;
  width: 15px;
  margin: 6px;
  border: solid 1px #cecece;
  border-radius: 50%;
}
/***************SignUp/Login********************/
.login-wrapper {
  width: 290px;
  margin: auto;
}

.tab-container {
  display: flex;
  justify-content: space-around;
  width: 230px;
  font-weight: bold;
  color: grey;
  font-size: 20px;
  padding: 30px 30px 3px 30px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /*supported by Chrome and Opera */
}

.reg-tab {
  width: 104px;
}

.select-tab {
  height: 30px;
  padding-top: 10px;
}
.selected-tab {
  border-bottom: 2px solid #edad17;
  color: #edad17;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.form-input {
  border-radius: 7px;
  margin: 10px;
  width: 200px;
  height: 25px;
}
.form-input:focus {
  border: 2px solid #edad17;
  box-shadow: 0 0 3px #edad17;
}

.sign-up-container {
  display: flex;
  flex-direction: row;
  width: 290px;
  text-align: center;
  justify-content: center;
}

.login-btn {
  height: 40px;
  width: 210px;
  font-size: 20px;
  background: linear-gradient(#edad17, #9b6c00);
  border-radius: 5px;
  margin: 10px;
  color: #ececec;
  box-shadow: 0px 0px 10px #ececec;
}

/***************SVG STUFF********************/
.svg {
  position: relative;
  height: 25%;
  width: 25%;
}

.text-box-one-default {
  height: 25%;
  width: 25%;
}
.text-box-one-start {
  position: absolute;
  top: 600px;
  right: -40px;
  transform: rotate(40deg);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.text-box-one-end {
  position: absolute;
  top: 600px;
  right: 210px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.profile-pic-default {
  height: 11%;
  width: 11%;
}

.profile-pic-start {
  position: absolute;
  top: 550px;
  right: 960px;
  transform: rotate(69deg);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.profile-pic-end {
  position: absolute;
  top: 50px;
  right: 900px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.switches-default {
  height: 11%;
  width: 11%;
}

.switches-start {
  position: absolute;
  top: 450px;
  right: 100px;
  transform: rotate(10deg);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.switches-end {
  position: absolute;
  top: 50px;
  right: 130px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.image-one-default {
  height: 35%;
  width: 45%;
}

.image-one-start {
  position: absolute;
  top: 650px;
  right: 300px;
  transform: scale(0.1);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.image-one-end {
  position: absolute;
  top: 480px;
  right: 490px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
.banner-default {
  height: 35%;
  width: 45%;
}

.banner-start {
  position: absolute;
  top: 330px;
  right: 310px;
  transform: rotate(10deg);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.banner-end {
  position: absolute;
  top: 240px;
  right: 320px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
